@font-face {
	font-family: Modam;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/modam/woff2/ModamFaNumWeb-Light.woff2') format('woff2'),
		 url('../fonts/modam/woff/ModamFaNumWeb-Light.woff') format('woff');
}

@font-face {
	font-family: Modam;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/modam/woff2/ModamFaNumWeb-Regular.woff2') format('woff2'),
		 url('../fonts/modam/woff/ModamFaNumWeb-Regular.woff') format('woff');
}

@font-face {
	font-family: Modam;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/modam/woff2/ModamFaNumWeb-Bold.woff2') format('woff2'),
		 url('../fonts/modam/woff/ModamFaNumWeb-Bold.woff') format('woff');
}

@font-face {
	font-family: Modam;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/modam/woff2/ModamFaNumWeb-Black.woff2') format('woff2'),
		 url('../fonts/modam/woff/ModamFaNumWeb-Black.woff') format('woff');
}
